{% extends 'base.html' %}

{% block content %}
<div class="top__banner border-top pricing-header  p-5  mb-5 text-center d-flex  justify-content-center">
    <div class="px-0  mt-5  mb-5">
        <h1 class="display-4 fw-normal">AnBox</h1>
        <p class="fs-5 text-muted">Тепло с доставкой в каждый дом.</p>
    </div>
</div>
<div class="container  px-4">
    <main>
        <div class="row g-4">
            {% for product in boiler %}
                <div class="col-12  col-md-6  col-lg-4">
                    <div class="card  h-100">
                        <p class="card__article">арт.: {{ product.article }}</p>
                        <div class="d-flex  justify-content-center">
                            <img src="/media/{{ product.image }}" class="card-img w-50  img" alt="...">
                        </div>
                        <div class="card-body">
                            <h6 class="text-muted">{{ product.title }}</h6>
                            <a href="{% url 'product:detail_product' product.pk %}" class="card-title  fw-bold">{{ product.sub_title }}</a>
                            <div class="d-flex mt-3 justify-content-between  border-bottom">
                                <p class="card__text  m-0">Мах мощность, кВт</p>
                                <p class="card__text  m-0">{{ product.power }}</p>
                            </div>
                            <div class="d-flex  mt-1  justify-content-between  border-bottom">
                                <p class="card__text  m-0">Ступени мощности</p>
                                <p class="card__text  m-0">{{ product.step_power }}</p>
                            </div>
                            <div class="d-flex  mt-1  justify-content-between  border-bottom">
                                <p class="card__text  m-0">Напряжение, В</p>
                                <p class="card__text  m-0">{{ product.voltage }}</p>
                            </div>
                            <div class="d-flex  mt-1  justify-content-between  border-bottom">
                                <p class="card__text  m-0">Отапливаемая площадь до, м2</p>
                                <p class="card__text  m-0">{{ product.square }}</p>
                            </div>
                            <div class="mt-3  fs-4  fw-bold">{{ product.price }} р.</div>
                            <a href="#" class="btn  btn-warning  fw-bolder mt-4" role="button">Купить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</main>
</div>
{% endblock %}