{% load static %}
{% load solo_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <link rel="icon" href="{% static '/favicon.ico' %}">

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    {% block css %} {% endblock %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

    {% block js %} {% endblock %}
  
</head>
<body>
    <div class="container">
        {% get_solo 'main.SiteConfiguration' as site_config %}
        {% include 'main/includes/header.html' %}
    </div>
    
    <main class="content  mb-5">
        {% block content %}{% endblock %}
    </main>
    {% include 'main/includes/footer.html' %}
</body>
</html>